body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: white;
}


.nav-right {
  position: absolute;
  right: 20px; /* Abstand zum rechten Rand */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-right .w3-button:hover,
.nav-right a:hover {
  background-color: #ff0000 !important;
  color: white !important;
  transition: background 0.2s;
}
footer {
    color: black;
    font-style: bold;

}

/* Modal Header, Footer und Hintergrund in Rot, Text schwarz, Box schmaler */
.w3-modal-content {
  max-width: 400px;
  margin: auto;
  color: #000; /* Textfarbe schwarz */
  background-color: #fff; /* Box-Hintergrund weiß */
}

.w3-modal-content .w3-container.w3-teal,
.w3-modal-content .w3-container.w3-teal,
.w3-modal-content .w3-container.w3-teal {
  background-color: #b80000 !important; /* Rot wie im Logo */
  color: #fff !important; /* Schrift weiß im Header/Footer */
}

