header.w3-container {
  position: relative;
  min-height: 100px; /* Höhe nach Bedarf anpassen */
}

header.w3-container h1 {
  margin: 0;
}


.fahrer-bild {
  width: 200px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

p {
font-size: 100%;
}

.top-drivers-text {
  font-size: 4rem;      /* noch größer */
  font-weight: bold;
  font-style: italic;
  display: block;
  margin-bottom: 0.2em; /* sehr kleiner Abstand */ 
  }

  .drivers-title {
  animation: opac 4s;
}

@keyframes opac {
  from {opacity: 0;}
  to {opacity: 1;}
}