header.w3-container {
  position: relative;
  min-height: 100px; /* ggf. anpassen */
}

header.w3-container h1 {
  margin: 0;
}
img {
    max-width: 100%;
    height: auto;
  }

  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .map-container img {
    max-width: 100%;
    height: auto;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #f44336;
    padding: 15px;
    color: white;
    width: 100%;           
    box-sizing: border-box; 
    margin-top: 30px;      
  }
  .best-races-text {
  font-size: 4rem;      /* noch größer */
  font-weight: bold;
  font-style: italic;
  display: block;
  margin-bottom: 0.2em; /* sehr kleiner Abstand */ 
  }

  .races-title {
  animation: opac 4s;
}

@keyframes opac {
  from {opacity: 0;}
  to {opacity: 1;}
}

  